---
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import {Card} from '@components/Card';
import {SITE} from '@config';
import {getPostsByTag, getSortedPosts, slugify, getPosts} from '@utils/posts';

export interface Params {
  tag: string;
}

const {tag = ''} = Astro.params;

const posts = await getPosts();

const tagPosts = getPostsByTag(posts, tag);

if (tagPosts.length === 0) {
  return new Response(null, {status: 404});
}

const sortTagsPost = getSortedPosts(tagPosts);
---
<Layout title={`Tag:${tag} | ${SITE.title}`}>
  <Main
    pageTitle={`Tag:${tag}`}
    pageDesc={`All the articles with the tag "${tag}".`}
  >
    <ul>
      {
        sortTagsPost.map(
          ({data}) => (
            <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
          ),
        )
      }
    </ul>
  </Main>
</Layout>
