---
import type {GetStaticPathsResult} from 'astro';
import {type CollectionEntry, getCollection} from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import {Card} from '@components/Card';
import {SITE} from '@config';
import {getPostsByTag, getSortedPosts, getUniqueTags, slugify, getPosts} from '@utils/posts';

export const prerender = true;

export interface Props {
  post: CollectionEntry<'blog'>;
  tag: string;
}

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
  const posts = await getCollection('blog');

  const tags = getUniqueTags(posts);

  return tags.map(
    tag => ({
      params: {tag},
      props: {tag},
    }),
  );
}

const {tag} = Astro.props;

const posts = await getPosts();

const tagPosts = getPostsByTag(posts, tag);

const sortTagsPost = getSortedPosts(tagPosts);
---

<Layout title={`Tag:${tag} | ${SITE.title}`}>
  <Main
    pageTitle={`Tag:${tag}`}
    pageDesc={`All the articles with the tag "${tag}".`}
  >
    <ul>
      {
        sortTagsPost.map(
          ({data}) => (
            <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
          ),
        )
      }
    </ul>
  </Main>
</Layout>
