---
import {SITE} from '@config';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import {getPosts} from '@utils/posts';
import {SearchBar} from '@components/Search';

// Retrieve all articles
const posts = await getPosts();

// List of items to search in
const searchList = posts.map(
  ({data}) => ({
    title: data.title,
    description: data.description,
    data,
  }),
);
---

<Layout title={`Search | ${SITE.title}`}>
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
</Layout>
